@import url('../assets/fonts/Cormorant/Cormorant-Medium.ttf');

.contactForm {
    background: #F0DCCC;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

.form{
    font-family: 'Cormorant';
    font-size: 25px;
    width: 100%;
}

.option {
    display: inline;
}

.row {
    display: flex;
}

.option1,
.option3 {
    margin-right: 40px;
}

.option1,
.option2 {
    margin-top: 50px;
}

.option3,
.option4 {
    margin-top: 50px;
}

.input {
    height: 40px;
    width: 400px;
    border: none;
    outline: none;
}

.message {
    border: none;
    outline: none;
    resize: none;
}

.text {
    margin-top: 30px;
    max-width: 100%;
}

.name {
    text-transform: capitalize;
    margin-bottom: 7px;
}

.submitContainer {
    margin-top: 320px;
}

.btn-submit {
    border: none;
    outline: none;
    background: #0C5285;
    color: white;
    width: 837px;
    height: 48px;
    border-radius: 6px;
    font-size: 22px;
    transition: 0.2s;
}

.btn-submit:hover {
    cursor: pointer;
    background: #2c73a7;
}

.headText {
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .contactForm {
        height: 1000px;
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form,
    .submitContainer,
    .btn-submit {
        width: 100%;
    }

    .headText {
        margin-left: 20px;
    }

    .writeText,
    .textareaText,
    .headText,
    .name {
        display: grid;
        justify-content: center;
    }

    .message {
        margin-left: 50px;
        width: 25em;
        height: 15em;
    }

    .rowInput {
        width: 350px;
        margin-left: 35px;
    }

    .name1,
    .name3 {
        margin-left: 33.8px;
    }
}