@import url('../assets/fonts/Cormorant/Cormorant-Medium.ttf');

.contactForm {
    background: #F0DCCC;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

.form{
    font-family: 'Cormorant';
}

.option {
    display: inline;
}

.row {
    display: flex;
}

.option1,
.option3 {
    margin-right: 100px;
}