@import url('../assets/fonts/Cormorant/Cormorant-Medium.ttf');

.contactForm {
    background: #F0DCCC;
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

.form{
    font-family: 'Cormorant';
    font-size: 25px;
    width: 100%;
}

.pcHide {
    visibility: hidden;
}

.option {
    display: inline;
}

.row {
    display: flex;
}

.option1,
.option3 {
    margin-right: 40px;
}

.option1,
.option2 {
    margin-top: 50px;
}

.option3,
.option4 {
    margin-top: 50px;
}

.input {
    height: 40px;
    width: 400px;
    border: none;
    outline: none;
}

.message {
    border: none;
    outline: none;
    resize: none;
    display: grid;
    justify-content: center;
}

.text {
    margin-top: 30px;
    max-width: 100%;
}

.name {
    text-transform: capitalize;
    margin-bottom: 7px;
}

.submitContainer {
    margin-top: 320px;
}

.btn-submit {
    border: none;
    outline: none;
    background: #0C5285;
    color: white;
    width: 837px;
    height: 48px;
    border-radius: 6px;
    font-size: 22px;
    transition: 0.2s;
}

.btn-submit:hover {
    cursor: pointer;
    background: #2c73a7;
}

.headText {
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 30px;
}

.phoneHide {
    visibility: visible;
}

@media screen and (max-width: 812px) {
    .contactForm {
        height: 1100px;
    }

    .phoneHide {
        visibility: hidden;
    }

    .pcHide {
        visibility: visible;
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form,
    .submitContainer,
    .btn-submit {
        width: 100%;
    }

    .headText {
        margin: 0;
        margin-top: 40px;
    }

    .writeText,
    .textareaText,
    .headText,
    .name,
    .rowInput {
        display: grid;
        justify-content: center;
    }

    .message {
        margin-left: 0;
        margin-right: 0;
        width: 350px;
        height: 15em;
    }

    .rowInput {
        width: 300px;
        margin-right: 0;
    }

    .name1,
    .name3 {
        margin-right: 0;
        display: grid;
        justify-content: center;
    }

    .option1,
    .option3 {
        margin-right: 0;
    }

    .option {
        display: grid;
        justify-content: center;
    }

    .message {
        margin: 0;
    }

    .text {
        margin-left: 0;
        margin-right: 0;
        display: grid;
        justify-content: center;
    }

    .submitContainer {
        margin-top: 160px;
    }

    .btn-submit {
        border: none;
        outline: none;
        background: #0C5285;
        color: white;
        width: 80%;
        height: 48px;
        border-radius: 6px;
        font-size: 22px;
        transition: 0.2s;
    }
}