* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  
  nav {
    height: 185px;
    background: #F0DCCC;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  
  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  .nav-links li:nth-child(1){
    margin-right: 70px;
  }
  .nav-links li:nth-child(2){
    margin-right: 70px;
  }
  .nav-links li:nth-child(3){
    margin-right: 150px;
  }
  .nav-links li:nth-child(5){
    margin-left: 150px;
  }
  .nav-links li:nth-child(6){
    margin-left: 70px;
  }
  .nav-links li:nth-child(7){
    margin-left: 70px;
  }

  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: black;
      margin: 5px;
    }
    nav {
      position: relative;
      height: 100px;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: #5b78c7;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      margin: auto;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
      margin-right: 0;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
      margin-right: 0;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
      margin-right: 0;
    }
    .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(5) {
      transition: all 0.5s ease 1s;
      margin-left: 0;
    }
    .nav-links li:nth-child(6) {
      transition: all 0.5s ease 1.2s;
      margin-left: 0;
    }
    .nav-links li:nth-child(7) {
      transition: all 0.5s ease 1.4s;
      margin-left: 0;
    }
    li.fade {
      opacity: 1;
    }
  }